In [1]:
import pandas as pd
from typing import List, Optional

def load_pickle(pickle_path: str) -> pd.DataFrame:
    """
    Load a DataFrame from a pickle file.

    :param pickle_path: Path to the pickle file.
    :return: Loaded pandas DataFrame.
    """
    df = pd.read_pickle(pickle_path)
    print(f"Loaded data from {pickle_path} with shape {df.shape}")
    return df

def basic_info(df: pd.DataFrame):
    """
    Display basic information about the DataFrame.

    :param df: pandas DataFrame.
    """
    print("\n--- Basic Info ---")
    print(df.info())
    print("\n--- First 5 rows ---")
    print(df.head())
    print("\n--- Data Description ---")
    print(df.describe(include='all'))

def missing_values_summary(df: pd.DataFrame):
    """
    Print a summary of missing values per column.

    :param df: pandas DataFrame.
    """
    print("\n--- Missing Values ---")
    missing = df.isna().sum()
    missing_percent = (missing / len(df)) * 100
    summary = pd.DataFrame({"missing_count": missing, "missing_percent": missing_percent})
    print(summary[summary["missing_count"] > 0])

def duplicates_summary(df: pd.DataFrame):
    """
    Print the number of duplicate rows.

    :param df: pandas DataFrame.
    """
    dup_count = df.duplicated().sum()
    print(f"\n--- Duplicates ---\nNumber of duplicate rows: {dup_count}")

def unique_values_summary(df: pd.DataFrame, columns: Optional[List[str]] = None):
    """
    Print the number of unique values per column or for selected columns.

    :param df: pandas DataFrame.
    :param columns: List of columns to check unique values for. If None, checks all columns.
    """
    columns_to_check = columns if columns else df.columns
    print("\n--- Unique Values ---")
    for col in columns_to_check:
        print(f"{col}: {df[col].nunique()} unique values")

def value_counts_summary(df: pd.DataFrame, columns: Optional[List[str]] = None, top_n: int = 10):
    """
    Print the top N frequent values for categorical columns.

    :param df: pandas DataFrame.
    :param columns: List of columns to analyze. If None, checks all object or category columns.
    :param top_n: Number of top frequent values to show.
    """
    if columns is None:
        columns = df.select_dtypes(include=['object', 'category']).columns

    print("\n--- Top Value Counts ---")
    for col in columns:
        print(f"\nColumn: {col}")
        print(df[col].value_counts().head(top_n))

def correlation_summary(df: pd.DataFrame):
    """
    Print correlation matrix for numeric columns only.
    """
    print("\n--- Correlation Matrix (Numeric Columns Only) ---")
    numeric_df = df.select_dtypes(include=['number'])
    if numeric_df.empty:
        print("No numeric columns to compute correlation.")
    else:
        print(numeric_df.corr())

In [2]:
# Load pickle
df_bluebikes = load_pickle("../data_pipeline/data/processed/bluebikes/station_id_mapping.pkl")

Loaded data from ../data_pipeline/data/processed/bluebikes/station_id_mapping.pkl with shape (3568112, 13)

In [3]:
basic_info(df_bluebikes)

--- Basic Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3568112 entries, 0 to 3568111
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ride_id                  object
 1   rideable_type            object
 2   start_time               datetime64[ns, UTC]
 3   stop_time                datetime64[ns, UTC]
 4   start_station_name       string
 5   start_station_id         float64
 6   end_station_name         string
 7   end_station_id           float64
 8   start_station_latitude   float64
 9   start_station_longitude  float64
 10  end_station_latitude     float64
 11  end_station_longitude    float64
 12  user_type                string
dtypes: datetime64[ns, UTC](2), float64(6), object(2), string(3)
memory usage: 353.9+ MB
None

--- First 5 rows ---
            ride_id  rideable_type                       start_time  \
0  215E35C14D594F94   classic_bike 2025-01-03 20:24:01.599000+00:00
1  FFCD2D3BA2776BEE  electric_bike 2025-01-04 18:35:13.116000+00:00
2  48EE2AAAB3450EED   classic_bike 2025-01-16 07:03:47.639000+00:00
3  CEBF456BE80209BF  electric_bike 2025-01-13 08:38:00.822000+00:00
4  F42C7FC3627D16D3   classic_bike 2025-01-14 20:23:16.339000+00:00

                         stop_time                start_station_name  \
0 2025-01-03 20:28:53.443000+00:00            Cambridge St at Joy St
1 2025-01-04 18:41:07.672000+00:00            Cambridge St at Joy St
2 2025-01-16 07:30:52.520000+00:00       Alewife MBTA at Steel Place
3 2025-01-13 08:46:08.454000+00:00  Deerfield St at Commonwealth Ave
4 2025-01-14 20:27:40.390000+00:00                   Broadway T Stop

   start_station_id                                  end_station_name  \
0               1.0                            Cross St at Hanover St
1               1.0                            Cross St at Hanover St
2               2.0  One Kendall Square at Hampshire St / Portland St
3               3.0                             Mass Ave at Albany St
4               4.0                              Chinatown Gate Plaza

   end_station_id  start_station_latitude  start_station_longitude  \
0            80.0               42.361257               -71.065287
1            80.0               42.361257               -71.065287
2           189.0               42.395588               -71.142606
3           162.0               42.349290               -71.097385
4            44.0               42.343049               -71.058034

   end_station_latitude  end_station_longitude user_type
0             42.362811             -71.056067    member
1             42.362811             -71.056067    member
2             42.366277             -71.091690    member
3             42.361358             -71.096703    member
4             42.351356             -71.059367    member

--- Data Description ---
                 ride_id rideable_type                           start_time  \
count            3568112       3568112                              3568112
unique           3568112             2                                  NaN
top     5BF25E720F7C9739  classic_bike                                  NaN
freq                   1       2573202                                  NaN
mean                 NaN           NaN     2025-06-16 02:02:26.511648+00:00
min                  NaN           NaN     2024-12-31 20:02:21.875000+00:00
25%                  NaN           NaN  2025-04-25 08:45:58.375500032+00:00
50%                  NaN           NaN  2025-06-24 16:56:16.805000192+00:00
75%                  NaN           NaN  2025-08-14 08:28:23.809750016+00:00
max                  NaN           NaN     2025-09-30 23:53:42.881000+00:00
std                  NaN           NaN                                  NaN

                                  stop_time            start_station_name  \
count                               3568112                       3566875
unique                                  NaN                           599
top                                     NaN  MIT at Mass Ave / Amherst St
freq                                    NaN                         59820
mean    2025-06-16 02:19:16.078964224+00:00                           NaN
min        2025-01-01 00:00:15.615000+00:00                           NaN
25%     2025-04-25 08:58:00.265499904+00:00                           NaN
50%     2025-06-24 17:09:46.792499968+00:00                           NaN
75%     2025-08-14 08:41:01.499250176+00:00                           NaN
max        2025-09-30 23:59:14.771000+00:00                           NaN
std                                     NaN                           NaN

        start_station_id              end_station_name  end_station_id  \
count       3.566875e+06                       3562250    3.562250e+06
unique               NaN                           600             NaN
top                  NaN  MIT at Mass Ave / Amherst St             NaN
freq                 NaN                         58489             NaN
mean        2.144317e+02                           NaN    2.145209e+02
min         1.000000e+00                           NaN    1.000000e+00
25%         9.000000e+01                           NaN    9.000000e+01
50%         1.890000e+02                           NaN    1.900000e+02
75%         3.160000e+02                           NaN    3.160000e+02
max         5.990000e+02                           NaN    6.000000e+02
std         1.488826e+02                           NaN    1.488043e+02

        start_station_latitude  start_station_longitude  end_station_latitude  \
count             3.568112e+06             3.568112e+06          3.565820e+06
unique                     NaN                      NaN                   NaN
top                        NaN                      NaN                   NaN
freq                       NaN                      NaN                   NaN
mean              4.235847e+01            -7.108910e+01          4.235844e+01
min               4.216723e+01            -7.126000e+01          4.212000e+01
25%               4.234752e+01            -7.110729e+01          4.234752e+01
50%               4.235810e+01            -7.108981e+01          4.235810e+01
75%               4.236895e+01            -7.106956e+01          4.236895e+01
max               4.253479e+01            -7.086000e+01          4.256000e+01
std               2.113062e-02             2.975804e-02          2.123881e-02

        end_station_longitude user_type
count            3.565820e+06   3568112
unique                    NaN         2
top                       NaN    member
freq                      NaN   2515163
mean            -7.108907e+01       NaN
min             -7.135000e+01       NaN
25%             -7.110734e+01       NaN
50%             -7.108974e+01       NaN
75%             -7.106906e+01       NaN
max             -7.086000e+01       NaN
std              2.983482e-02       NaN

In [3]:
missing_values_summary(df_bluebikes)

--- Missing Values ---
                  missing_count  missing_percent
start_station_id           1237         0.034690
end_station_id             3915         0.109792
Ã«Ã€Â¼Ã¯                    3565820       100.000000

In [4]:
duplicates_summary(df_bluebikes)

--- Duplicates ---
Number of duplicate rows: 0

In [1]:
# Run this in your Airflow environment or Jupyter notebook
import pandas as pd
import numpy as np

# Load your processed data
bluebike_data = pd.read_pickle('../data_pipeline/data/processed/bluebikes/after_duplicates.pkl')

# Prepare the data
bluebike_data['start_time'] = pd.to_datetime(bluebike_data['start_time'])
bluebike_data['hour'] = bluebike_data['start_time'].dt.hour
bluebike_data['day_of_week'] = bluebike_data['start_time'].dt.dayofweek
bluebike_data['date'] = bluebike_data['start_time'].dt.date

# Calculate ACTUAL hourly rides by hour and day type
hourly_stats = bluebike_data.groupby(['date', 'hour']).size().reset_index(name='ride_count')
hourly_stats['date'] = pd.to_datetime(hourly_stats['date'])
hourly_stats['day_of_week'] = hourly_stats['date'].dt.dayofweek
hourly_stats['is_weekend'] = hourly_stats['day_of_week'].isin([5, 6])

# WEEKDAY STATISTICS
weekday_by_hour = hourly_stats[~hourly_stats['is_weekend']].groupby('hour')['ride_count'].agg(['mean', 'median', 'std'])
print("\nðŸ“Š WEEKDAY HOURLY RIDES (System-Wide):")
print(weekday_by_hour)

# WEEKEND STATISTICS
weekend_by_hour = hourly_stats[hourly_stats['is_weekend']].groupby('hour')['ride_count'].agg(['mean', 'median', 'std'])
print("\nðŸ“Š WEEKEND HOURLY RIDES (System-Wide):")
print(weekend_by_hour)

# Save as JSON for easy use in JavaScript
import json

weekday_lookup = weekday_by_hour['mean'].round().to_dict()
weekend_lookup = weekend_by_hour['mean'].round().to_dict()

historical_patterns = {
    'weekday': {int(k): int(v) for k, v in weekday_lookup.items()},
    'weekend': {int(k): int(v) for k, v in weekend_lookup.items()}
}

with open('historical_patterns.json', 'w') as f:
    json.dump(historical_patterns, f, indent=2)

print("\nâœ… Saved to historical_patterns.json")
print(json.dumps(historical_patterns, indent=2))

ðŸ“Š WEEKDAY HOURLY RIDES (System-Wide):
             mean  median         std
hour
0.0     89.798851    83.0   54.323928
1.0     51.261494    48.0   35.082907
2.0     26.393678    24.0   17.537203
3.0     14.332370    13.0    8.761705
4.0     20.620690    20.0    9.937837
5.0     86.497126    82.0   41.133192
6.0    254.479885   242.0  115.175431
7.0    616.284483   596.5  282.592521
8.0   1087.862069  1081.5  459.590431
9.0    699.192529   720.0  268.093795
10.0   479.258621   492.5  198.233704
11.0   501.425287   520.5  212.355685
12.0   581.979885   602.0  259.676605
13.0   593.017241   586.5  268.504772
14.0   636.186782   651.5  279.616817
15.0   784.445402   786.5  330.099286
16.0  1101.120690  1104.5  451.302364
17.0  1458.879310  1430.5  639.879777
18.0  1140.540230  1121.0  533.860311
19.0   824.091954   794.0  403.040115
20.0   574.951149   526.5  297.039223
21.0   433.954023   416.5  231.981660
22.0   322.848138   282.0  203.715960
23.0   202.085960   175.0  137.940803

ðŸ“Š WEEKEND HOURLY RIDES (System-Wide):
            mean  median         std
hour
0.0   233.876812   229.0  136.058889
1.0   209.000000   192.0  119.889243
2.0   122.536765   114.5   70.791494
3.0    35.695652    33.5   20.848991
4.0    23.218978    21.0   12.182265
5.0    35.413043    33.0   19.054562
6.0    78.413043    72.0   50.902473
7.0   144.478261   128.5   81.768876
8.0   268.210145   251.0  145.573492
9.0   451.253623   428.0  232.169994
10.0  610.862319   593.5  309.139899
11.0  721.108696   720.0  359.584121
12.0  821.014493   830.0  410.470017
13.0  859.789855   870.5  420.320254
14.0  882.739130   878.5  436.579326
15.0  890.913043   924.0  458.805677
16.0  877.311594   917.5  447.753090
17.0  834.043478   854.5  453.676995
18.0  765.159420   743.0  445.086250
19.0  613.782609   546.5  377.818474
20.0  456.166667   398.0  279.282281
21.0  357.615942   330.0  217.027810
22.0  301.688406   253.0  195.670914
23.0  229.144928   172.5  163.693347

âœ… Saved to historical_patterns.json
{
  "weekday": {
    "0": 90,
    "1": 51,
    "2": 26,
    "3": 14,
    "4": 21,
    "5": 86,
    "6": 254,
    "7": 616,
    "8": 1088,
    "9": 699,
    "10": 479,
    "11": 501,
    "12": 582,
    "13": 593,
    "14": 636,
    "15": 784,
    "16": 1101,
    "17": 1459,
    "18": 1141,
    "19": 824,
    "20": 575,
    "21": 434,
    "22": 323,
    "23": 202
  },
  "weekend": {
    "0": 234,
    "1": 209,
    "2": 123,
    "3": 36,
    "4": 23,
    "5": 35,
    "6": 78,
    "7": 144,
    "8": 268,
    "9": 451,
    "10": 611,
    "11": 721,
    "12": 821,
    "13": 860,
    "14": 883,
    "15": 891,
    "16": 877,
    "17": 834,
    "18": 765,
    "19": 614,
    "20": 456,
    "21": 358,
    "22": 302,
    "23": 229
  }
}

In [2]:
print(f"Total rides: {len(bluebike_data):,}")

# Calculate rides per station
station_rides = bluebike_data.groupby('start_station_id').size().reset_index(name='ride_count')
total_rides = station_rides['ride_count'].sum()

# Calculate share percentage
station_rides['share'] = station_rides['ride_count'] / total_rides
station_rides = station_rides.sort_values('share', ascending=False)

print("\nðŸ“Š TOP 20 BUSIEST STATIONS:")
print(station_rides.head(20)[['start_station_id', 'ride_count', 'share']])

print("\nðŸ“Š STATION SHARE STATISTICS:")
print(station_rides['share'].describe())

# Convert to lookup dictionary
station_shares = dict(zip(
    station_rides['start_station_id'].astype(str),
    station_rides['share'].round(6)
))

# Save as JSON
with open('station_shares.json', 'w') as f:
    json.dump(station_shares, f, indent=2)

print(f"\nâœ… Saved {len(station_shares)} station shares to station_shares.json")

# Show some examples
print("\nExample station shares:")
for station_id, share in list(station_shares.items())[:10]:
    print(f"  {station_id}: {share:.4f} ({share*100:.2f}%)")

Total rides: 8,182,157

ðŸ“Š TOP 20 BUSIEST STATIONS:
     start_station_id  ride_count     share
191             192.0      143965  0.017595
36               37.0      113122  0.013825
12               13.0       99246  0.012130
31               32.0       89078  0.010887
193             194.0       79934  0.009769
76               77.0       78506  0.009595
0                 1.0       71240  0.008707
327             328.0       69441  0.008487
320             321.0       66950  0.008182
363             364.0       66896  0.008176
435             436.0       65746  0.008035
219             220.0       64474  0.007880
50               51.0       61257  0.007487
34               35.0       59625  0.007287
274             275.0       58395  0.007137
78               79.0       57044  0.006972
19               20.0       56209  0.006870
207             208.0       52900  0.006465
116             117.0       52364  0.006400
532             533.0       52343  0.006397

ðŸ“Š STATION SHARE STATISTICS:
count    6.330000e+02
mean     1.579779e-03
std      2.024007e-03
min      1.222172e-07
25%      2.075247e-04
50%      7.600685e-04
75%      2.260406e-03
max      1.759499e-02
Name: share, dtype: float64

âœ… Saved 633 station shares to station_shares.json

Example station shares:
  192.0: 0.0176 (1.76%)
  37.0: 0.0138 (1.38%)
  13.0: 0.0121 (1.21%)
  32.0: 0.0109 (1.09%)
  194.0: 0.0098 (0.98%)
  77.0: 0.0096 (0.96%)
  1.0: 0.0087 (0.87%)
  328.0: 0.0085 (0.85%)
  321.0: 0.0082 (0.82%)
  364.0: 0.0082 (0.82%)

In [3]:
print("Column names:")
print(bluebike_data.columns.tolist())

print("\nFirst 5 rows of station-related columns:")
print(bluebike_data[['start_station_id', 'start_station_name']].head(10))

print("\nUnique start_station_names (first 20):")
print(bluebike_data['start_station_name'].unique()[:20])

print("\nData types:")
print(bluebike_data[['start_station_id', 'start_station_name']].dtypes)

Column names:
['ride_id', 'rideable_type', 'start_time', 'stop_time', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_station_latitude', 'start_station_longitude', 'end_station_latitude', 'end_station_longitude', 'user_type', 'hour', 'day_of_week', 'date']

First 5 rows of station-related columns:
   start_station_id              start_station_name
0               1.0              Ames St at Main St
1               1.0              Ames St at Main St
2               2.0              One Memorial Drive
3               1.0              Ames St at Main St
4               3.0              Mass Ave T Station
5               4.0  St. Alphonsus St at Tremont St
6               1.0              Ames St at Main St
7               1.0              Ames St at Main St
8               1.0              Ames St at Main St
9               1.0              Ames St at Main St

Unique start_station_names (first 20):
<StringArray>
[                               'Ames St at Main St',
                                'One Memorial Drive',
                                'Mass Ave T Station',
                    'St. Alphonsus St at Tremont St',
                                        '30 Dane St',
                            'Sydney St at Carson St',
                       'Magoun Square at Trum Field',
       'Trum Field @ Cedar St (Temp Winter Station)',
     'John Ahern Field at Kennedy-Longfellow School',
                                  'ID Building West',
                   'Conway Park - Somerville Avenue',
                                  'Chinatown T Stop',
               'Harvard Square at Mass Ave/ Dunster',
                 'Broadway at Kittie Knox Bike Path',
                     'Commonwealth Ave at Griggs St',
                    'Boston City Hall - 28 State St',
                          'Stuart St at Berkeley St',
                         'Riverway at Brookline Ave',
                   'Inman Square at Springfield St.',
 'Ruggles T Stop - Columbus Ave at Melnea Cass Blvd']
Length: 20, dtype: string

Data types:
start_station_id             float64
start_station_name    string[python]
dtype: object

In [4]:

print(f"Total rides: {len(bluebike_data):,}")

# Calculate rides per station NAME
station_rides = bluebike_data.groupby('start_station_name').size().reset_index(name='ride_count')
total_rides = station_rides['ride_count'].sum()

# Calculate share percentage
station_rides['share'] = station_rides['ride_count'] / total_rides
station_rides = station_rides.sort_values('share', ascending=False)

print("\nðŸ“Š TOP 20 BUSIEST STATIONS (BY NAME):")
print(station_rides.head(20))

# Convert to lookup dictionary BY NAME
station_shares_by_name = dict(zip(
    station_rides['start_station_name'].astype(str),
    station_rides['share'].round(6)
))

# Save as JSON
with open('station_shares_by_name.json', 'w') as f:
    json.dump(station_shares_by_name, f, indent=2)

print(f"\nâœ… Saved {len(station_shares_by_name)} station shares to station_shares_by_name.json")

# Show some examples
print("\nExample station shares BY NAME:")
for name, share in list(station_shares_by_name.items())[:10]:
    print(f"  {name}: {share:.4f} ({share*100:.2f}%)")

Total rides: 8,182,157

ðŸ“Š TOP 20 BUSIEST STATIONS (BY NAME):
                                    start_station_name  ride_count     share
368                       MIT at Mass Ave / Amherst St      143965  0.017595
142              Central Square at Mass Ave / Essex St      113122  0.013825
297                Harvard Square at Mass Ave/ Dunster       99246  0.012130
367                                      MIT Vassar St       89078  0.010887
365                    MIT Pacific St at Purrington St       79934  0.009769
150        Charles Circle - Charles St at Cambridge St       78506  0.009595
43                                  Ames St at Main St       71240  0.008707
165  Christian Science Plaza - Massachusetts Ave at...       69441  0.008487
97                         Boylston St at Fairfield St       66950  0.008182
391                          Mass Ave/Lafayette Square       66896  0.008176
67                      Beacon St at Massachusetts Ave       65746  0.008035
525                   South Station - 700 Atlantic Ave       64474  0.007880
180                    Commonwealth Ave at Agganis Way       61257  0.007487
366            MIT Stata Center at Vassar St / Main St       59625  0.007287
253                       Forsyth St at Huntington Ave       58395  0.007137
387                              Mass Ave at Albany St       57044  0.006972
491  Ruggles T Stop - Columbus Ave at Melnea Cass Blvd       56209  0.006870
349         Landmark Center - Brookline Ave at Park Dr       52900  0.006465
98                            Boylston St at Jersey St       52364  0.006400
392                  Massachusetts Ave at Boylston St.       52343  0.006397

âœ… Saved 633 station shares to station_shares_by_name.json

Example station shares BY NAME:
  MIT at Mass Ave / Amherst St: 0.0176 (1.76%)
  Central Square at Mass Ave / Essex St: 0.0138 (1.38%)
  Harvard Square at Mass Ave/ Dunster: 0.0121 (1.21%)
  MIT Vassar St: 0.0109 (1.09%)
  MIT Pacific St at Purrington St: 0.0098 (0.98%)
  Charles Circle - Charles St at Cambridge St: 0.0096 (0.96%)
  Ames St at Main St: 0.0087 (0.87%)
  Christian Science Plaza - Massachusetts Ave at Westland Ave: 0.0085 (0.85%)
  Boylston St at Fairfield St: 0.0082 (0.82%)
  Mass Ave/Lafayette Square: 0.0082 (0.82%)

In [9]:
value_counts_summary(df_bluebikes)

--- Top Value Counts ---

Column: ride_id
ride_id
D39FCF4FF35223A0    1
215E35C14D594F94    1
FFCD2D3BA2776BEE    1
48EE2AAAB3450EED    1
CEBF456BE80209BF    1
F42C7FC3627D16D3    1
57C96B6DB6A2DA59    1
1B6BA97C1D513C60    1
6E4A19B4F9EA5957    1
3B1114528642D4F3    1
Name: count, dtype: int64

Column: rideable_type
rideable_type
classic_bike     2570910
electric_bike     994910
Name: count, dtype: int64

Column: Ã«Ã€Â¼Ã¯
Series([], Name: count, dtype: int64)

In [10]:
correlation_summary(df_bluebikes)

--- Correlation Matrix (Numeric Columns Only) ---
                         start_station_latitude  start_station_longitude  \
start_station_latitude                 1.000000                -0.001213
start_station_longitude               -0.001213                 1.000000
end_station_latitude                   0.749335                 0.019133
end_station_longitude                  0.018261                 0.717820

                         end_station_latitude  end_station_longitude
start_station_latitude               0.749335               0.018261
start_station_longitude              0.019133               0.717820
end_station_latitude                 1.000000              -0.005286
end_station_longitude               -0.005286               1.000000

In [11]:
# Load pickle
df = load_pickle("../data_pipeline/data/processed/boston_clg/raw_data.pkl")

Loaded data from ../data_pipeline/data/processed/boston_clg/raw_data.pkl with shape (60, 28)

In [13]:
basic_info(df)

--- Basic Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       60 non-null     int64
 1   Match_type     60 non-null     object
 2   Ref_ID         60 non-null     int64
 3   ID1            44 non-null     object
 4   Id             60 non-null     object
 5   SchoolId       60 non-null     object
 6   Name           60 non-null     object
 7   Address        60 non-null     object
 8   City           60 non-null     object
 9   Zipcode        58 non-null     float64
 10  Contact        60 non-null     object
 11  PhoneNumbe     60 non-null     object
 12  YearBuilt      60 non-null     object
 13  NumStories     60 non-null     object
 14  Cost           60 non-null     float64
 15  NumStudent     60 non-null     float64
 16  BackupPowe     60 non-null     float64
 17  ShelterCap     60 non-null     object
 18  Latitude       60 non-null     float64
 19  Longitude      60 non-null     float64
 20  Comment        60 non-null     object
 21  X              57 non-null     float64
 22  Y              57 non-null     float64
 23  NumStudent12   38 non-null     float64
 24  CampusHous     47 non-null     object
 25  NumStudents13  60 non-null     float64
 26  URL            48 non-null     object
 27  Address2013    0 non-null      float64
dtypes: float64(11), int64(2), object(15)
memory usage: 13.3+ KB
None

--- First 5 rows ---
   OBJECTID         Match_type  Ref_ID  \
0         1               NCES       0
1         2  NCES & Consortium       0
2         3  NCES & Consortium       0
3         4  NCES & Consortium       0
4         5  NCES & Consortium       0

                                                 ID1     Id SchoolId  \
0         Fruit St, Boston, Massachusetts 02114-2696  98627   431594
1  8 Ashburton Place, Boston, Massachusetts 02108...  11959   168005
2        41 Berkeley St, Boston, Massachusetts 02116  16632   165884
3  250 New Rutherford Ave, Boston, Massachusetts ...   1949   165112
4    36 1st Avenue, Boston, Massachusetts 02129-4557   9109   166869

                                                Name  \
0  Massachusetts General Hospital Dietetic Intern...
1                                 Suffolk University
2          Benjamin Franklin Institute of Technology
3                      Bunker Hill Community College
4                MGH Institute of Health Professions

                                             Address         City   Zipcode  \
0              Fruit St, Boston, Massachusetts 02114     West End  365190.0
1  8 Ashburton Pl Beacon Hill, Boston, Massachuse...       Boston  149016.0
2        41 Berkeley St, Boston, Massachusetts 02116    South End   78750.0
3  250 New Rutherford Ave, Boston, Massachusetts ...  Charlestown  203509.0
4         36 1st Avenue, Boston, Massachusetts 02129  Charlestown   70077.0

   ...   Latitude  Longitude     Comment              X             Y  \
0  ...  42.362591 -71.070141  0300381001  772340.999867  2.957450e+06
1  ...  42.358905 -71.061948  0302802001  774562.025937  2.956118e+06
2  ...  42.346103 -71.070186  0500688000  772358.914857  2.951441e+06
3  ...  42.375117 -71.069572  0202170000  772471.759776  2.962015e+06
4  ...  42.374917 -71.053972  0203504000  776687.321227  2.961964e+06

   NumStudent12  CampusHous NumStudents13                       URL  \
0           NaN                      20.0                       NaN
1        9101.0         21%        8675.0    http://www.suffolk.edu
2         472.0                     482.0       http://www.bfit.edu
3       12934.0                   14023.0  http://www.bhcc.mass.edu
4         928.0                    1096.0     http://www.mghihp.edu

   Address2013
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 28 columns]

--- Data Description ---
          OBJECTID         Match_type  Ref_ID  ID1     Id SchoolId  \
count    60.000000                 60    60.0   44     60       60
unique         NaN                  4     NaN   39     60       44
top            NaN  NCES & Consortium     NaN       98627        0
freq           NaN                 28     NaN    5      1       15
mean     37.900000                NaN     0.0  NaN    NaN      NaN
std      58.130391                NaN     0.0  NaN    NaN      NaN
min       1.000000                NaN     0.0  NaN    NaN      NaN
25%      15.750000                NaN     0.0  NaN    NaN      NaN
50%      31.500000                NaN     0.0  NaN    NaN      NaN
75%      46.250000                NaN     0.0  NaN    NaN      NaN
max     460.000000                NaN     0.0  NaN    NaN      NaN

                                    Name  \
count                                 60
unique                                59
top     Kaplan Career Institute (Closed)
freq                                   2
mean                                 NaN
std                                  NaN
min                                  NaN
25%                                  NaN
50%                                  NaN
75%                                  NaN
max                                  NaN

                                      Address            City        Zipcode  \
count                                      60              60      58.000000
unique                                     60              19            NaN
top     Fruit St, Boston, Massachusetts 02114  Fenway/Kenmore            NaN
freq                                        1              24            NaN
mean                                      NaN             NaN  107810.637931
std                                       NaN             NaN  132211.560236
min                                       NaN             NaN       0.000000
25%                                       NaN             NaN   22493.750000
50%                                       NaN             NaN   64466.500000
75%                                       NaN             NaN  131911.000000
max                                       NaN             NaN  606500.000000

        ...   Latitude  Longitude Comment              X             Y  \
count   ...  60.000000  60.000000      60      57.000000  5.700000e+01
unique  ...        NaN        NaN      58            NaN           NaN
top     ...        NaN        NaN                    NaN           NaN
freq    ...        NaN        NaN       3            NaN           NaN
mean    ...  40.226900 -67.537674     NaN  766386.991935  2.950685e+06
std     ...   9.306587  15.624983     NaN    7465.578714  7.754472e+03
min     ...   0.000000 -71.180351     NaN  742669.813147  2.917826e+06
25%     ...  42.336815 -71.102722     NaN  763367.006004  2.948882e+06
50%     ...  42.348476 -71.092476     NaN  765546.574808  2.952280e+06
75%     ...  42.351877 -71.069998     NaN  772164.999891  2.953518e+06
max     ...  42.381010   0.000000     NaN  780798.454737  2.964159e+06

        NumStudent12  CampusHous NumStudents13  URL  Address2013
count      38.000000          47     60.000000   48          0.0
unique           NaN          17           NaN   46          NaN
top              NaN                       NaN               NaN
freq             NaN          29           NaN    3          NaN
mean     5140.105263         NaN   2504.450000  NaN          NaN
std      8215.530661         NaN   5323.800963  NaN          NaN
min        98.000000         NaN      0.000000  NaN          NaN
25%       495.750000         NaN      0.000000  NaN          NaN
50%      1255.000000         NaN    651.500000  NaN          NaN
75%      4739.000000         NaN   2013.500000  NaN          NaN
max     32439.000000         NaN  32411.000000  NaN          NaN

[11 rows x 28 columns]

In [12]:
missing_values_summary(df)

--- Missing Values ---
              missing_count  missing_percent
ID1                      16        26.666667
Zipcode                   2         3.333333
X                         3         5.000000
Y                         3         5.000000
NumStudent12             22        36.666667
CampusHous               13        21.666667
URL                      12        20.000000
Address2013              60       100.000000

In [14]:
duplicates_summary(df)

--- Duplicates ---
Number of duplicate rows: 0

In [15]:
unique_values_summary(df)

--- Unique Values ---
OBJECTID: 60 unique values
Match_type: 4 unique values
Ref_ID: 1 unique values
ID1: 39 unique values
Id: 60 unique values
SchoolId: 44 unique values
Name: 59 unique values
Address: 60 unique values
City: 19 unique values
Zipcode: 53 unique values
Contact: 47 unique values
PhoneNumbe: 56 unique values
YearBuilt: 22 unique values
NumStories: 15 unique values
Cost: 56 unique values
NumStudent: 42 unique values
BackupPowe: 1 unique values
ShelterCap: 1 unique values
Latitude: 58 unique values
Longitude: 58 unique values
Comment: 58 unique values
X: 57 unique values
Y: 56 unique values
NumStudent12: 38 unique values
CampusHous: 17 unique values
NumStudents13: 43 unique values
URL: 46 unique values
Address2013: 0 unique values

In [16]:
value_counts_summary(df)

--- Top Value Counts ---

Column: Match_type
Match_type
NCES & Consortium    28
Consortium           16
NCES                 13
                      3
Name: count, dtype: int64

Column: ID1
ID1
                                                      5
300 The Fenway, Boston, Massachusetts 02115-5898      2
Fruit St, Boston, Massachusetts 02114-2696            1
250 New Rutherford Ave, Boston, Massachusetts 021*    1
36 1st Avenue, Boston, Massachusetts 02129-4557       1
8 Ashburton Place, Boston, Massachusetts 02108-27*    1
41 Berkeley St, Boston, Massachusetts 02116           1
230 The Fenway, Boston, Massachusetts 02115-5596      1
400 The Fenway, Boston, Massachusetts 02115           1
8 the Fenway, Boston, Massachusetts 02215             1
Name: count, dtype: int64

Column: Id
Id
98627    1
11959    1
16632    1
1949     1
9109     1
86640    1
86302    1
86125    1
15422    1
22285    1
Name: count, dtype: int64

Column: SchoolId
SchoolId
0         15
164845     2
167543     2
431594     1
166869     1
165671     1
166984     1
167783     1
164988     1
168005     1
Name: count, dtype: int64

Column: Name
Name
Kaplan Career Institute (Closed)                      2
Suffolk University                                    1
Massachusetts General Hospital Dietetic Internship    1
Bunker Hill Community College                         1
MGH Institute of Health Professions                   1
Emmanuel College                                      1
School of the Museum of Fine Arts-Boston              1
Simmons                                               1
Boston University                                     1
The Boston Conservatory                               1
Name: count, dtype: int64

Column: Address
Address
Fruit St, Boston, Massachusetts 02114                      1
8 Ashburton Pl Beacon Hill, Boston, Massachusetts 02108    1
41 Berkeley St, Boston, Massachusetts 02116                1
250 New Rutherford Ave, Boston, Massachusetts 02129        1
36 1st Avenue, Boston, Massachusetts 02129                 1
400 Fenway, Massachusetts 02115                            1
230 The Fenway, Boston, Massachusetts 02115                1
300 Fenway, Boston, Massachusetts 02115                    1
One Silber Way, Boston, Massachusetts 02215                1
8 Fenway, Boston, Massachusetts 02215                      1
Name: count, dtype: int64

Column: City
City
Fenway/Kenmore        24
Back Bay               6
Allston/Brighton       5
Charlestown            3
South End              3
Boston                 3
Financial District     3
Beacon Hill            2
West End               1
North Dorchester       1
Name: count, dtype: int64

Column: Contact
Contact
BOSTON UNIVERSITY TRSTS OF    4
HARVARD COLLEGE               4
BOSTON UNIVERSITY TRSTS       3
                              3
COMMWLTH OF MASS              2
COMMONWEALTH OF MASS          2
CITY OF BOSTON                2
MUSEUM OF FINE ARTS           1
EMMANUEL COLLEGE TRUSTEES     1
BOSTON CONSERVATRY MUSIC      1
Name: count, dtype: int64

Column: PhoneNumbe
PhoneNumbe
                  5
(617) 726-2589    1
(617) 423-4630    1
(617) 573-8000    1
(617) 726-3140    1
(617) 735-9715    1
(617) 267-6100    1
(617) 228-2000    1
(617) 521-2000    1
(617) 353-2000    1
Name: count, dtype: int64

Column: YearBuilt
YearBuilt
1899    24
0        5
1920     4
1900     3
         3
1925     2
1975     2
1964     2
1960     2
1987     1
Name: count, dtype: int64

Column: NumStories
NumStories
3     13
5     11
4     10
6      6
       5
8      3
2      2
10     2
7      2
13     1
Name: count, dtype: int64

Column: ShelterCap
ShelterCap
    60
Name: count, dtype: int64

Column: Comment
Comment
              3
0300381001    1
0500688000    1
0202170000    1
0203504000    1
0401847000    1
0401806000    1
0401842000    1
0503991000    1
0302802001    1
Name: count, dtype: int64

Column: CampusHous
CampusHous
       29
48%     2
40%     2
14%     1
21%     1
74%     1
29%     1
70%     1
75%     1
19%     1
Name: count, dtype: int64

Column: URL
URL
                                     3
http://www.suffolk.edu               1
http://www.bhcc.mass.edu             1
http://www.mghihp.edu                1
http://www.emmanuel.edu              1
http://www.bfit.edu                  1
http://www.simmons.edu               1
http://www.bu.edu                    1
http://www.bostonconservatory.edu    1
http://www.wheelock.edu              1
Name: count, dtype: int64

In [17]:
correlation_summary(df)

--- Correlation Matrix (Numeric Columns Only) ---
               OBJECTID  Ref_ID   Zipcode      Cost  NumStudent  BackupPowe  \
OBJECTID       1.000000     NaN -0.171385 -0.076258   -0.107168         NaN
Ref_ID              NaN     NaN       NaN       NaN         NaN         NaN
Zipcode       -0.171385     NaN  1.000000  0.190170    0.458679         NaN
Cost          -0.076258     NaN  0.190170  1.000000    0.405653         NaN
NumStudent    -0.107168     NaN  0.458679  0.405653    1.000000         NaN
BackupPowe          NaN     NaN       NaN       NaN         NaN         NaN
Latitude      -0.620160     NaN  0.188255  0.093444    0.098388         NaN
Longitude      0.619804     NaN -0.188061 -0.093593   -0.098415         NaN
X             -0.256362     NaN  0.103841  0.069055    0.011929         NaN
Y             -0.361367     NaN  0.016144 -0.120060   -0.021006         NaN
NumStudent12  -0.274917     NaN  0.600122  0.720564    0.820517         NaN
NumStudents13 -0.130361     NaN  0.507252  0.233409    0.900951         NaN
Address2013         NaN     NaN       NaN       NaN         NaN         NaN

               Latitude  Longitude         X         Y  NumStudent12  \
OBJECTID      -0.620160   0.619804 -0.256362 -0.361367     -0.274917
Ref_ID              NaN        NaN       NaN       NaN           NaN
Zipcode        0.188255  -0.188061  0.103841  0.016144      0.600122
Cost           0.093444  -0.093593  0.069055 -0.120060      0.720564
NumStudent     0.098388  -0.098415  0.011929 -0.021006      0.820517
BackupPowe          NaN        NaN       NaN       NaN           NaN
Latitude       1.000000  -0.999995  0.285584  0.999991      0.063968
Longitude     -0.999995   1.000000  0.999989  0.294147      0.007340
X              0.285584   0.999989  1.000000  0.289679      0.007106
Y              0.999991   0.294147  0.289679  1.000000      0.063895
NumStudent12   0.063968   0.007340  0.007106  0.063895      1.000000
NumStudents13  0.101542  -0.101533  0.017189 -0.008627      0.766100
Address2013         NaN        NaN       NaN       NaN           NaN

               NumStudents13  Address2013
OBJECTID           -0.130361          NaN
Ref_ID                   NaN          NaN
Zipcode             0.507252          NaN
Cost                0.233409          NaN
NumStudent          0.900951          NaN
BackupPowe               NaN          NaN
Latitude            0.101542          NaN
Longitude          -0.101533          NaN
X                   0.017189          NaN
Y                  -0.008627          NaN
NumStudent12        0.766100          NaN
NumStudents13       1.000000          NaN
Address2013              NaN          NaN

In [18]:
# Load pickle
df = load_pickle("../data_pipeline/data/processed/NOAA_weather/raw_data.pkl")

Loaded data from ../data_pipeline/data/processed/NOAA_weather/raw_data.pkl with shape (3946, 4)

In [19]:
basic_info(df)

--- Basic Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3946 non-null   object
 1   PRCP    3946 non-null   float64
 2   TMAX    3946 non-null   float64
 3   TMIN    3946 non-null   float64
dtypes: float64(3), object(1)
memory usage: 123.4+ KB
None

--- First 5 rows ---
         date  PRCP  TMAX  TMIN
0  2015-01-01   0.0   0.6  -5.5
1  2015-01-02   0.0   5.0  -0.5
2  2015-01-03  15.7   2.8  -5.5
3  2015-01-04  14.5  11.1   1.7
4  2015-01-05   0.0  10.0  -8.2

--- Data Description ---
              date         PRCP         TMAX         TMIN
count         3946  3946.000000  3946.000000  3946.000000
unique        3946          NaN          NaN          NaN
top     2025-10-20          NaN          NaN          NaN
freq             1          NaN          NaN          NaN
mean           NaN     2.983730    16.118550     7.839128
std            NaN     7.695366    10.090402     9.227361
min            NaN     0.000000   -12.100000   -23.200000
25%            NaN     0.000000     7.800000     0.600000
50%            NaN     0.000000    16.100000     7.800000
75%            NaN     1.500000    24.400000    16.100000
max            NaN    79.000000    38.900000    28.300000

In [20]:
missing_values_summary(df)

--- Missing Values ---
Empty DataFrame
Columns: [missing_count, missing_percent]
Index: []

In [21]:
duplicates_summary(df)

--- Duplicates ---
Number of duplicate rows: 0

In [22]:
value_counts_summary(df)

--- Top Value Counts ---

Column: date
date
2025-10-20    1
2015-01-01    1
2015-01-02    1
2015-01-03    1
2015-01-04    1
2015-01-05    1
2015-01-06    1
2015-01-07    1
2015-01-08    1
2015-01-09    1
Name: count, dtype: int64

In [23]:
correlation_summary(df)

--- Correlation Matrix (Numeric Columns Only) ---
          PRCP      TMAX      TMIN
PRCP  1.000000 -0.026179  0.017909
TMAX -0.026179  1.000000  0.944070
TMIN  0.017909  0.944070  1.000000